
@model ChangePasswordViewModel
<div class="bigBoxHome">
    <div class="logincontent">
        <div class="contentDiv">
            <div class="contentSmallBox">
                <h3>User Login</h3>
                <p>Please enter a new password that meets the below complexity requirements: </p>
                <ul class="password-ul">
                    <li>At least 8 characters long</li>
                    <li>At least 1 upper-case letter (e.g. A, B, C, D etc.)</li>
                    <li>At least 1 lower-case letter (e.g. a, b, c, d etc.)</li>
                    <li>At least 1 number (e.g. 1, 2, 3, 4 etc.)</li>
                    <li>At least 1 symbol (e.g. !, ?, &, % etc.)</li>
                </ul>
                <form asp-route="Login">
                    <table>
                        <tr>
                            <th>Username</th>
                            <td>
                                <input type="text" class="form-control" asp-for="UserName" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <input type="text" class="form-control" asp-for="Email" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>
                                <input type="text" class="form-control" asp-for="Password1" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <th>Repeat Password</th>
                            <td>
                                <input type="text" class="form-control" asp-for="Password2" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="login-btn" name="button" value="login">Submit</button>
                            </td>
                        </tr>
                    </table>
                    <p class="error" style="white-space: pre-line">@Model.Message</p>
                    <p class="error" style="white-space: pre-line"><partial name="_ValidationSummary" /></p>
                </form>
            </div>
            <div class="contentSmallBox sm">
                <h2>Guidance</h2>
                <p>
                    Login here to access the online services registered with your account.
                    If you experience any problems logging in, please use the
                   
                </p>
            </div>
        </div>
    </div>
</div>

