
@model ForgotPasswordViewModel
<div class="bigBoxHome">
    <div class="logincontent">
        <div class="contentDiv">
            <div class="contentSmallBox">
                <h3>User Login</h3>
                <p>Please enter your email address:</p>
                <form asp-route="Login">
                    <table>
                        <tr>
                            <th>Email</th>
                            <td>
                                <input class="form-control" asp-for="Email" autofocus>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="login-btn" name="button" value="login">Submit</button>
                            </td>
                        </tr>
                    </table>
                    <p class="error" style="white-space: pre-line !important">@Model.Message</p>
                    <p class="error" style="white-space: pre-line"><partial name="_ValidationSummary" /></p>
                </form>
            </div>
            <div class="contentSmallBox sm">
                <h2>Guidance</h2>
                <p>
                    Login here to access the online services registered with your account.
                    If you experience any problems logging in, please use the
                   
                </p>
            </div>
        </div>
    </div>
</div>

