@model ForgotPasswordViewModel

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-6-tablet">
                    <div class="box">
                        <h3 class="title is-3 has-text-centered">Reset Password</h3>
                        <form asp-action="ForgottenPassword" method="post" class="needs-validation" novalidate>
                            <div class="field">
                                <label class="label">Please Enter your Email Address</label>
                                <div class="control">
                                    <input asp-for="Email" class="input" placeholder="Email" autofocus required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-link is-fullwidth">Submit</button>
                                </div>
                            </div>
                            <div asp-validation-summary="All" class="has-text-danger"></div>
                        </form>
                        @if (!string.IsNullOrEmpty(Model.Message))
                        {

                                <p class="has-text-centered has-text-success">@Html.Raw(Model.Message)</p>                  
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        // Optional: Add custom JavaScript for client-side validation or other behaviors
    </script>
}
