@model LoginViewModel
@if (Model.EnableLocalLogin)
{
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4-desktop is-6-tablet">
                        <div class="box">
                            <h3 class="title is-3 has-text-centered">User Login</h3>
                            <form asp-route="Login">
                                <input type="hidden" asp-for="ReturnUrl" />
                                <div class="field">
                                    <label class="label">Username</label>
                                    <div class="control">
                                        <input class="input" placeholder="UserName" asp-for="UserName" autofocus>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        <input type="password" class="input" placeholder="Password" asp-for="Password" autocomplete="off">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-link is-fullwidth" name="button" id="Submit" value="login">Log in</button>
                                    </div>
                                </div>
                                <p class="has-text-right">
                                    <a href="ForgottenPassword" class="is-underlined">Reset Password</a>
                                </p>
                                <p class="error has-text-danger" style="white-space: pre-line; display: none;">
                                    <partial name="_ValidationSummary" class="error" />
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-md-6 col-sm-6 external-providers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">External Login</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li>
                            <a class="btn btn-default"
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
<style>
   
</style>