
@model ResetPasswordViewModel
<div class="bigBoxHome">
    <div class="logincontent">
        <div class="contentDiv">
            <div>
                <h3>Password Reset</h3>
                <p>
                    Your password has expired and needs to be reset. Please use the form below to create a new password.
                </p>
                <p>
                    The password must be at least 8 characters in length, and contain an upper case letter, a lower case letter, a number and a symbol.
                </p>
                <form asp-route="Login">
                    <table>
                        <tr>
                            <th>Password</th>
                            <td>
                                <input type="password" class="form-control"   asp-for="Password1" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <th>Repeat Password</th>
                            <td>
                                <input type="password" class="form-control" asp-for="Password2" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="login-btn" name="button" value="login">Submit</button>
                            </td>
                        </tr>
                    </table>
                    <p class="error" style="white-space: pre-line">@Model.Message</p>
                    <p class="error" style="white-space: pre-line"><partial name="_ValidationSummary" /></p>
                </form>
            </div>
        </div>
    </div>
</div>

